@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Nerko+One&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

nav {
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.wrapper {
    position: absolute;
    top: 20px;
    padding: 10px;
    left: 10%;
    display: flex;
    justify-content: space-between;
    background-color: #cbedd545;
    /* background-color: rgba(255, 255, 255, 0.385); */
    height: 10vh;
    width: 80%;
    border-radius: 25px;

}

.navlogo {
    display: flex;
    gap: 5px;
    font-family: 'Zen Dots', cursive;
    user-select: none;
    position: relative;
    left: 20px;
}

.navlogo .firstName{
    font-size: 2rem;
    color:rgb(53, 50, 50);
}

.navlogo .secondName{
    position: relative;
    top: 3px;
    font-size: 1.5rem;
    color:rgb(53, 50, 50);
}
.nav-menu {
    position: relative;
    right: 2%;
    padding: 30px;
   

}

.nav-menu ul {
 display: flex;
    gap: 50px;
    

}

.nav-menu ul li {
    list-style: none;
    
}
.nav-links{
    color:rgb(31, 29, 29);
    font-family: 'Zen Dots', cursive;
    font-size: 1rem;
    font-weight: bolder;
    user-select: none;
}

.nav-links:hover{
    color:rgb(53, 50, 50,0.448);
}

.icon{
    position: relative;
    top: 3px;

}


@media  screen and (max-width:1020px) {
   nav{
    z-index: 3;
    align-items: center;
    justify-content: center;
    }

    .wrapper {
        position: absolute;
        top: 20px;
        padding: 10px;
       
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.385);
        height: 10vh;
        width: 100%;
    
    
    }
    
}