@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Nerko+One&family=Zen+Dots&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
 
}

body{

z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}






